/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.03em;
  text-wrap: balance;
  font-weight: 500;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

pre,
code {
  font-family:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  font-size: 0.875rem;
}

:target {
  scroll-margin-block: 5ex;
}

/* Styles */

:root {
  --accent: #ff726c;

  --bg: #176eb2;
  --bg-dark: #125d98;
  --bg-hover: #2278ba;

  --text-rgb: 245, 240, 223;

  --text: rgba(var(--text-rgb), 1);
  --text-muted: rgba(var(--text-rgb), 0.8);

  --border: rgba(var(--text-rgb), 0.5);
  --link-decoration: rgba(var(--text-rgb), 0.5);

  --grid-lines: rgba(var(--text-rgb), 0.12);
  --grid-lines-light: rgba(var(--text-rgb), 0.08);

  --padding: 1.25rem;

  @media (min-width: 600px) {
    --padding: 2rem;
  }

  @media (min-width: 900px) {
    --padding: 3rem;
  }
}

html {
  scrollbar-color: var(--text-muted) transparent;
}

body {
  font-family:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  min-height: 100vh;
  line-height: 1.4;
  background: var(--bg-dark);
  color: var(--text);

  background-image:
    linear-gradient(var(--grid-lines) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-lines) 1px, transparent 1px);
  background-position: center top;
  background-size: 0.75rem 0.75rem;
}

a,
button {
  color: inherit;
  text-decoration-color: var(--link-decoration);
  text-decoration-thickness: 2px;
}

a:hover,
button:hover {
  color: var(--accent);
  text-decoration-color: var(--accent);
}

button {
  text-decoration-line: underline;
  background-color: transparent;
  border: none;
  appearance: none;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
  background: var(--bg);
  padding: var(--padding);

  @media (min-width: 70rem) {
    border-inline: 1px solid var(--border);
  }
}

.nav {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.intro {
  font-size: 1.25rem;
  color: var(--text-muted);
  max-width: 45ch;
  margin-top: 1rem;
}

.group {
  margin-top: 2rem;
}

.group__name {
  margin-bottom: 0.5rem;
}

.group__models {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.model {
  flex: 1 1 100%;
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 600px) {
    max-width: calc(50% - 0.5rem);
  }

  @media (min-width: 900px) {
    max-width: calc(33.333% - 0.666rem);
  }
}

.model:hover {
  background-color: var(--bg-hover);
}

.model__name {
  text-transform: uppercase;
}

.model__description {
  color: var(--text-muted);
  line-height: 1.1;
  display: grid;
  gap: 0.5rem;
}

.model__img-wrapper {
  background-color: var(--bg);
  background-image:
    linear-gradient(var(--grid-lines-light) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-lines-light) 1px, transparent 1px);
  background-size: 0.75rem 0.75rem;
  background-position: bottom right;
  border: 1px solid var(--border);
}

.model__img {
  aspect-ratio: 16/9;
  padding: 1rem;
  object-fit: contain;
}

.model__img--png {
  padding: 0;
}

.model__links {
  margin-top: auto;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.model:hover a {
  text-decoration-color: var(--accent);
}

.drawer {
  --active-index: 1;
  --per-row: 1;

  order: calc(
    round(down, var(--active-index) / var(--per-row), 1) * var(--per-row) +
      var(--per-row)
  );

  background-color: var(--bg-dark);
  position: relative;
  overflow: hidden;
  flex: 0 0 100%;
  border: 1px solid var(--border);

  @media (min-width: 600px) {
    --per-row: 2;
  }

  @media (min-width: 900px) {
    --per-row: 3;
  }
}

.drawer__buttons {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.drawer:has(iframe) .drawer__buttons {
  display: none;
}

.drawer iframe {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
}

.drawer pre {
  overflow: auto;
  max-width: 100%;
  padding: 1rem;
}

footer {
  margin-top: var(--padding);
}
